*{
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: white;
}

#text {
    border-radius: 15px;
}

.form .nama{
    font-weight: bold;
}
body, form, label {
    font-style: italic;
}   